@media screen and (max-width: 452px){
    .converter{
        flex-wrap: wrap;
        justify-items: center;
        padding: auto;
        #bina{
            margin-left: 25px;
        }
    }

    .color-container{
        top: 90%;
    }
}