@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(to bottom left, #f4f4f4, #ff6f69);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

header{
    display: block;
    top: 0;
    height: 70px;
    width: 100vw;
    padding: 10px;
    /* background-color: #fff; */
    h1 {
        margin-top: 10px;
        color: #496;
    }
}
p {
    color: rgb(61, 65, 63);
    text-transform: uppercase;
    font-family: 'Open Sans',
    sans-serif;
    margin-left: 11px;
}

.converter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    gap: 25px;
    #hexa {
        margin-left: 20px;
        p{
            color: #496;
            margin-left: 0;
            margin-bottom: -10px;
        }
        .wrap{
            background-color: #f4f4f4;
            width: fit-content;
            height: 30px;
            border-radius: 15px;
            padding: 3px;
            color: grey;
            margin-top: 17px;
            margin-bottom: 0;
            font-family: sans-serif;
            #hex{
                height: 100%;
                border: none;
                max-width: 190px;
                padding: 15px;
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
                border-radius: 0 15px 15px 0;
                background-color: inherit;
                padding: 3px;
            }
        }
        .search {
                margin-top: -10px;
        }
    }
    #bina{
        p {
            color: #496;
            margin-left: 0;
            margin-bottom: -10px;
        }
        #binary{
            border: none;
            padding: 15px;
            max-width: 190px;
            background-color: #f4f4f4;
            height: 30px;
            border-radius: 15px;
            margin-top: 17px;
        }
        .search{
                margin-top: 10px;
        }
    }
    
}

.search {
    float: right;
    width: 70px;
    height: 25px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: #efc;
    cursor: pointer;

    &:hover {
        background-color: #000;
        color: #efc;
    }
}

.conde{
    position: absolute;
    border: none;
    top: 30%;
    left: 50%;
    height: 100px;
    width: 200px;
    border-radius: 8px;
    background: #ff6f69;
    transform: translate(-50%, -50%);
    z-index: 10;
    .decimal {
        position: absolute;
        padding: 13px;
        background-color: #f4f4f4;
        max-height: 30px;
        max-width: 165px;
        border-radius: 15px;
        border: none;
        margin: 35px 15px;
        font-weight: 600;
        font-size: large;
        text-align: center;
    }
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.hidden{
    display: none;
}


@import './media';